@{
  Layout = "_Layout";
}
<div class = "container">
<h1>Add a New Student</h1>
<form action = "/students" method = "post">
<label for = "name">Enter student name:</label>
<input id="name" name="name" type="test">
<label for = "date">Enter student's enrollment date:</label>
<input id="date" name="date" type="date">

<button type="submit" class="btn btn-primary">Add a Student</button>
</form>
<a href = "/" class="btn btn-danger">Home</a>
<a href = "/students" class="btn btn-warning">Back to Student's list</a>

</div>
