@{
  Layout = "_Layout";
}
<div class = "container">
<h1>Add a New Course</h1>
<form action = "/courses" method = "post">
<label for = "description">Enter course:</label>
<input id="description" name="description" type="test">
<label for = "course_number">Enter course number:</label>
<input id="course_number" name="course_number" type="course_number">

<button type="submit" class="btn btn-primary">Add a Course</button>
</form>
<a href = "/" class="btn btn-danger">Home</a>
<a href = "/courses" class="btn btn-warning">Back to Courses list</a>

</div>
