@{
  Layout = "_Layout";
}

<div class="container">
  <h1>Welcome to University Registry Site!</h1>
  <a href = "/students" class="btn btn-info">Students</a>
  <a href = "/courses" class="btn btn-success">Courses</a>
</div>
